language: go
services:
  - postgresql
install: echo
before_script:
 - psql -c 'create database travis_ci_test;' -U postgres
 - psql -d travis_ci_test -a -f etc/sql/nodes.sql -P pager
 - psql -d travis_ci_test -a -f etc/sql/items.sql -P pager
 - psql -d travis_ci_test -a -f etc/sql/users.sql -P pager
script:
  - go build -v ./...
  - ./tests.sh
after_success:
  - bash <(curl -s https://codecov.io/bash)
