language: go
services:
  - postgresql
before_script:
 - psql -c 'create database travis_ci_test;' -U postgres
 - psql -d travis_ci_test -a -f etc/sql/nodes.sql -P pager
 - psql -d travis_ci_test -a -f etc/sql/items.sql -P pager
script:
  - go build -v ./...
  - go test -v -race ./...
